<h2>Inscription à la formation : 
  <% if (type === 'modules-courts') { %>Modules Courts
  <% } else if (type === 'parcours-pro') { %>Parcours Professionnels
  <% } else if (type === 'emploi') { %>Préparation à l'Emploi
  <% } else { %>Formation
  <% } %>
</h2>
